<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiveAppDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>470ADAD71D9E010A0016158C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>470ADAF01D9E010A0016158C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>470ADAFB1D9E010A0016158C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
